body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #ffffff;
}

.nav-link {
    color: #6a2c91;
    font-weight: 600;
}

.music-box, .album-box {
    text-align: center;
    padding: 20px;
}

.music-box a {
    display: block;
    margin: 5px;
}

.album-box img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}
